In [1]:
import requests
import pandas as pd
"github:https://github.com/nprasad2077/nbaStats"

"api base url: http://rest.nbaapi.com"

'api base url: http://rest.nbaapi.com'

### Objective

<p>Compare the stats of Kobe, Lebron, and Michael Jordan in both regular seasons and play offs</p>

In [2]:
baseurl="http://rest.nbaapi.com"

In [3]:
response=requests.get(baseurl)
response

### Getting Lebron James' data

##### Regular season

In [57]:
url_james_regular="http://rest.nbaapi.com/api/PlayerDataTotals/name/Lebron James"
url_kobe_regular="http://rest.nbaapi.com/api/PlayerDataTotals/name/Kobe Bryant"
url_jordan_regular="http://rest.nbaapi.com/api/PlayerDataTotals/name/Michael Jordan"

In [58]:
response1=requests.get(url_james_regular)
response2=requests.get(url_kobe_regular)
response3=requests.get(url_jordan_regular)

print(response1,response2,response3)

<Response [200]> <Response [200]> <Response [200]>

In [59]:
data_lebron_regular=response1.json()
data_kobe_regular=response2.json()
data_jordan_regular=response3.json()
all_regular= data_lebron_regular + data_kobe_regular + data_jordan_regular

In [60]:
dfregular= pd.DataFrame(all_regular)

In [62]:
dfregular.to_csv("Regular_seasons_data")

### Important checks

<p> In order to ensure data is real I'll make 3 checks: First, that data from all 3 players is in the dataset. Second, that there's a maximum of 82 games in any of the seasons they played (because a regular season consists of sucha number of games). Third that data from all seasons is complete</p>

##### Checking all 3 players are in our dataset:

In [42]:
dfregular['playerName'].unique()

#Ok. All 3 players are in the dataset.

array(['LeBron James', 'Kobe Bryant*', 'Michael Jordan*'], dtype=object)

##### Checking regular season data set has a max of 82 games:

In [63]:
dfregular.describe()
#Ok. Max games is 82 which is the maximum in a regular season.

,id,age,games,gamesStarted,minutesPg,fieldGoals,fieldAttempts,fieldPercent,threeFg,threeAttempts,...,offensiveRb,defensiveRb,totalRb,assists,steals,blocks,turnovers,personalFouls,points,season
count,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,...,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000
mean,9832.224490,29.285714,68.551020,65.040816,2546.897959,653.224490,1369.040816,0.474000,95.877551,280.428571,...,80.244898,358.367347,438.612245,403.714286,105.571429,41.714286,214.102041,145.224490,1802.265306,2008.836735
std,4731.928973,6.177918,16.837534,21.122617,737.408984,214.718446,432.223031,0.045394,43.434641,120.489107,...,31.060110,122.921671,142.066712,154.227511,42.074339,19.934267,63.090294,51.663279,592.069984,8.304986
min,307.000000,18.000000,6.000000,1.000000,177.000000,31.000000,73.000000,0.358000,3.000000,16.000000,...,2.000000,24.000000,26.000000,38.000000,7.000000,1.000000,34.000000,9.000000,83.000000,1993.000000
25%,6340.000000,24.000000,65.000000,58.000000,2093.000000,558.000000,1183.000000,0.450000,63.000000,216.000000,...,63.000000,297.000000,391.000000,330.000000,74.000000,26.000000,173.000000,115.000000,1557.000000,2003.000000
50%,9838.000000,30.000000,76.000000,74.000000,2794.000000,716.000000,1416.000000,0.469000,108.000000,301.000000,...,80.000000,367.000000,457.000000,398.000000,112.000000,40.000000,223.000000,149.000000,1938.000000,2009.000000
75%,13137.000000,34.000000,80.000000,79.000000,3063.000000,789.000000,1639.000000,0.503000,127.000000,377.000000,...,103.000000,454.000000,533.000000,511.000000,125.000000,53.000000,260.000000,180.000000,2250.000000,2015.000000
max,18731.000000,40.000000,82.000000,82.000000,3401.000000,992.000000,2173.000000,0.567000,180.000000,518.000000,...,148.000000,612.000000,709.000000,747.000000,221.000000,93.000000,347.000000,233.000000,2832.000000,2025.000000

##### Checking all seasons are in the dataset:

<p>A quick check in the internet provides us the seasons each of these players have played:</p>
<ul> <li>Lebron James: 22 seasons</li>
<li>Kobe Bryant: 20 seasons</li>
<li>Michael Jordan: 15 seasons</li>
</ul>

In [86]:
lebron_check= dfregular[dfregular['playerName']=='LeBron James']
lebron_check["season"].value_counts().sum()
#Ok

22

In [82]:
kobe_check= dfregular[dfregular['playerName']=="Kobe Bryant*"]
kobe_check["season"].value_counts().sum()
#Ok

20

In [87]:
jordan_check= dfregular[dfregular['playerName']=="Michael Jordan*"]
jordan_check["season"].value_counts().sum()
#WRONG! DATA IS MISSING!

7

In [88]:
#data from here: https://www.espn.com/nba/player/stats/_/id/1035/type/nba/seasontype/3

##### Playoffs

In [64]:
url_playoffs_lebron="http://rest.nbaapi.com/api/PlayerDataTotalsPlayoffs/name/Lebron James"
url_playoffs_kobe="http://rest.nbaapi.com/api/PlayerDataTotalsPlayoffs/name/Kobe Bryant"
url_playoffs_jordan="http://rest.nbaapi.com/api/PlayerDataTotalsPlayoffs/name/Michael Jordan"

In [67]:
response4=requests.get(url_playoffs_lebron)
response5=requests.get(url_playoffs_kobe)
response6=requests.get(url_playoffs_jordan)
print(response4,response5,response6)

<Response [200]> <Response [200]> <Response [200]>

In [68]:
data_playoffs_lebron=response4.json()
data_playoffs_kobe=response5.json()
data_playoffs_jordan=response.json()
allplayoffs=data_playoffs_lebron + data_playoffs_kobe +data_playoffs_jordan

In [69]:
dfplayoffs=pd.DataFrame(allplayoffs)
dfplayoffs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 53 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  54 non-null     int64
 1   playerName          54 non-null     object
 2   position            54 non-null     object
 3   age                 54 non-null     int64
 4   games               54 non-null     int64
 5   gamesStarted        32 non-null     float64
 6   minutesPg           32 non-null     float64
 7   fieldGoals          32 non-null     float64
 8   fieldAttempts       32 non-null     float64
 9   fieldPercent        32 non-null     float64
 10  threeFg             32 non-null     float64
 11  threeAttempts       32 non-null     float64
 12  threePercent        32 non-null     float64
 13  twoFg               32 non-null     float64
 14  twoAttempts         32 non-null     float64
 15  twoPercent          32 non-null     float64
 16  effectFgPercent     32 non-null     float64
 17  ft                  32 non-null     float64
 18  ftAttempts          32 non-null     float64
 19  ftPercent           32 non-null     float64
 20  offensiveRb         32 non-null     float64
 21  defensiveRb         32 non-null     float64
 22  totalRb             32 non-null     float64
 23  assists             32 non-null     float64
 24  steals              32 non-null     float64
 25  blocks              32 non-null     float64
 26  turnovers           32 non-null     float64
 27  personalFouls       32 non-null     float64
 28  points              32 non-null     float64
 29  team                54 non-null     object
 30  season              54 non-null     int64
 31  playerId            54 non-null     object
 32  minutesPlayed       22 non-null     float64
 33  per                 22 non-null     float64
 34  tsPercent           22 non-null     float64
 35  threePAR            22 non-null     float64
 36  ftr                 22 non-null     float64
 37  offensiveRBPercent  22 non-null     float64
 38  defensiveRBPercent  22 non-null     float64
 39  totalRBPercent      22 non-null     float64
 40  assistPercent       22 non-null     float64
 41  stealPercent        22 non-null     float64
 42  blockPercent        22 non-null     float64
 43  turnoverPercent     22 non-null     float64
 44  usagePercent        22 non-null     float64
 45  offensiveWS         22 non-null     float64
 46  defensiveWS         22 non-null     float64
 47  winShares           22 non-null     float64
 48  winSharesPer        22 non-null     float64
 49  offensiveBox        22 non-null     float64
 50  defensiveBox        22 non-null     float64
 51  box                 22 non-null     float64
 52  vorp                22 non-null     float64
dtypes: float64(45), int64(4), object(4)
memory usage: 22.5+ KB

In [70]:
dfplayoffs.to_csv("playoffs_data")