In [2]:
import requests
import pandas as pd
"github:https://github.com/nprasad2077/nbaStats"

"api base url: http://rest.nbaapi.com"

'api base url: http://rest.nbaapi.com'

### Objective

<p>Compare the stats of Kobe, Lebron, and Michael Jordan in both regular seasons and play offs. This file is for the regular season, I made a different one to use the api on the playofss stats</p>

In [3]:
baseurl="http://rest.nbaapi.com"

In [4]:
response=requests.get(baseurl)
response

##### Regular season

In [5]:
url_james_regular="http://rest.nbaapi.com/api/PlayerDataTotals/name/Lebron James"
url_kobe_regular="http://rest.nbaapi.com/api/PlayerDataTotals/name/Kobe Bryant"
url_jordan_regular="http://rest.nbaapi.com/api/PlayerDataTotals/name/Michael Jordan"

In [6]:
response1=requests.get(url_james_regular)
response2=requests.get(url_kobe_regular)
response3=requests.get(url_jordan_regular)

print(response1,response2,response3)

<Response [200]> <Response [200]> <Response [200]>

In [7]:
data_lebron_regular=response1.json()
data_kobe_regular=response2.json()
data_jordan_regular=response3.json()
all_regular= data_lebron_regular + data_kobe_regular + data_jordan_regular

In [8]:
dfregular= pd.DataFrame(all_regular)

### Important checks

<p> In order to ensure data is real I'll make 3 checks: First, that data from all 3 players is in the dataset. Second, that there's a maximum of 82 games in any of the seasons they played (because a regular season consists of sucha number of games). Third that data from all seasons is complete</p>

##### Checking all 3 players are in our dataset:

In [9]:
dfregular['playerName'].unique()

#Ok. All 3 players are in the dataset.

array(['LeBron James', 'Kobe Bryant*', 'Michael Jordan*'], dtype=object)

##### Checking regular season data set has a max of 82 games:

In [10]:
dfregular.describe()
#Ok. Max games is 82 which is the maximum in a regular season.

,id,age,games,gamesStarted,minutesPg,fieldGoals,fieldAttempts,fieldPercent,threeFg,threeAttempts,...,offensiveRb,defensiveRb,totalRb,assists,steals,blocks,turnovers,personalFouls,points,season
count,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,...,49.000000,49.000000,49.000000,49.00000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000
mean,9832.224490,29.285714,68.755102,65.244898,2553.632653,655.285714,1372.938776,0.474061,96.306122,281.551020,...,80.408163,359.959184,440.367347,405.55102,105.734694,41.734694,214.897959,145.530612,1807.673469,2008.836735
std,4731.928973,6.177918,16.517075,20.903081,727.485129,212.187417,426.677591,0.045450,43.438752,120.132056,...,30.832152,122.003921,140.653637,154.00082,41.805490,19.915211,62.443056,51.153406,584.841517,8.304986
min,307.000000,18.000000,6.000000,1.000000,177.000000,31.000000,73.000000,0.358000,3.000000,16.000000,...,2.000000,24.000000,26.000000,38.00000,7.000000,1.000000,34.000000,9.000000,83.000000,1993.000000
25%,6340.000000,24.000000,65.000000,58.000000,2093.000000,558.000000,1183.000000,0.450000,63.000000,217.000000,...,63.000000,308.000000,391.000000,330.00000,74.000000,26.000000,178.000000,115.000000,1557.000000,2003.000000
50%,9838.000000,30.000000,76.000000,74.000000,2794.000000,716.000000,1416.000000,0.469000,108.000000,301.000000,...,80.000000,367.000000,457.000000,399.00000,112.000000,40.000000,223.000000,149.000000,1938.000000,2009.000000
75%,13137.000000,34.000000,80.000000,79.000000,3063.000000,789.000000,1639.000000,0.503000,127.000000,377.000000,...,103.000000,454.000000,533.000000,511.00000,125.000000,53.000000,260.000000,180.000000,2250.000000,2015.000000
max,18731.000000,40.000000,82.000000,82.000000,3401.000000,992.000000,2173.000000,0.567000,180.000000,518.000000,...,148.000000,612.000000,709.000000,747.00000,221.000000,93.000000,347.000000,233.000000,2832.000000,2025.000000

In [11]:
dfregular.columns

Index(['id', 'playerName', 'position', 'age', 'games', 'gamesStarted',
       'minutesPg', 'fieldGoals', 'fieldAttempts', 'fieldPercent', 'threeFg',
       'threeAttempts', 'threePercent', 'twoFg', 'twoAttempts', 'twoPercent',
       'effectFgPercent', 'ft', 'ftAttempts', 'ftPercent', 'offensiveRb',
       'defensiveRb', 'totalRb', 'assists', 'steals', 'blocks', 'turnovers',
       'personalFouls', 'points', 'team', 'season', 'playerId'],
      dtype='object')

In [12]:
dfregular. drop(['id','gamesStarted', 'minutesPg', 'effectFgPercent', 'offensiveRb','defensiveRb'],axis=1,inplace=True)

In [13]:
#Data does not include the points, but we can easily calculate them:
dfregular["fieldpts"]=dfregular['fieldAttempts']*dfregular["fieldPercent"]
dfregular["threepts"]=dfregular['threeAttempts']*dfregular["threePercent"]
dfregular["twopts"]=dfregular['twoAttempts']*dfregular["twoPercent"]
dfregular["ftpts"]=dfregular['ftAttempts']*dfregular["ftPercent"]

##### Checking all seasons are in the dataset:

<p>A quick check in the internet provides us the seasons each of these players have played:</p>
<ul> <li>Lebron James: 22 seasons</li>
<li>Kobe Bryant: 20 seasons</li>
<li>Michael Jordan: 15 seasons</li>
</ul>

In [14]:
lebron_check= dfregular[dfregular['playerName']=='LeBron James']
lebron_check["season"].value_counts().sum()
#Ok

22

In [15]:
kobe_check= dfregular[dfregular['playerName']=="Kobe Bryant*"]
kobe_check["season"].value_counts().sum()
#Ok

20

In [16]:
jordan_check= dfregular[dfregular['playerName']=="Michael Jordan*"]
jordan_check["season"].value_counts().sum()
#WRONG! DATA IS MISSING!
#missing seasons 85-92
#Season 94 is not missing, he played baseball instead

7

## Scrapped data from ESPN (Regular Season: Michael Jordan)

In [17]:
#I scrapped the missing data from ESPN, see "SCrapping folder (Selenium) to see the process"
scrapped_regular_jordan=pd.read_csv(r"C:\Users\Abraham\Desktop\Solo\Bootcamp\portfolio\Scrapping\Selenium\jordan_regular")
scrapped_regular_jordan.drop(["Unnamed: 0"],axis=1,inplace=True)
scrapped_regular_jordan=scrapped_regular_jordan.iloc[:8]

In [18]:
scrapped_regular_jordan['playerName']="Michael Jordan*"
scrapped_regular_jordan['position']="SG"

In [19]:
scrapped_regular_jordan.rename(columns={
    'SEASON': 'season',
    'TEAM': 'team',
    'REB': 'totalRb',
    'AST': 'assists',
    'STL': 'steals',
    'BLK': 'blocks',
    '3P%': 'threePercent',
    'PF': 'personalFouls',
    'TO': 'turnovers',
    'PTS': 'points',
    'FG': 'fieldGoalsattempts&points',
    'FG%': 'fieldPercent',
    'FT': 'ftAttempts&points',  
    'FT%': 'ftPercent',
    '3PT': 'threeattempts&pts'
    
}, inplace=True)

In [20]:
scrapped_regular_jordan[['threepts','threeAttempts']] = scrapped_regular_jordan['threeattempts&pts'].str.split('-', expand=True)
scrapped_regular_jordan[['fieldpts','fieldGoals']]=scrapped_regular_jordan['fieldGoalsattempts&points'].str.split("-",expand=True)
scrapped_regular_jordan[['ftpts','ftAttempts']]=scrapped_regular_jordan['ftAttempts&points'].str.split("-",expand=True)

In [21]:
scrapped_regular_jordan[['threeAttempts', 'threepts', 
                         'fieldGoals', 'fieldpts', 'ftAttempts', 'ftpts']] = \
scrapped_regular_jordan[['threeAttempts', 'threepts', 
                         'fieldGoals', 'fieldpts', 'ftAttempts', 'ftpts']].astype(int)

In [22]:
scrapped_regular_jordan

,season,team,fieldGoalsattempts&points,fieldPercent,threeattempts&pts,threePercent,ftAttempts&points,ftPercent,OR,DR,...,turnovers,points,playerName,position,threepts,threeAttempts,fieldpts,fieldGoals,ftpts,ftAttempts
0,1985,CHI,837-1625,51.5,9-52,17.3,630-746,84.4,167,367,...,291,2313,Michael Jordan*,SG,9,52,837,1625,630,746
1,1986,CHI,150-328,45.7,3-18,16.7,105-125,84.0,23,41,...,45,408,Michael Jordan*,SG,3,18,150,328,105,125
2,1987,CHI,1098-2279,48.2,12-66,18.2,833-972,85.7,166,264,...,272,3041,Michael Jordan*,SG,12,66,1098,2279,833,972
3,1988,CHI,1069-1998,53.5,7-53,13.2,723-860,84.1,139,310,...,252,2868,Michael Jordan*,SG,7,53,1069,1998,723,860
4,1989,CHI,966-1795,53.8,27-98,27.6,674-793,85.0,149,503,...,290,2633,Michael Jordan*,SG,27,98,966,1795,674,793
5,1990,CHI,1034-1964,52.6,92-245,37.6,593-699,84.8,143,422,...,247,2753,Michael Jordan*,SG,92,245,1034,1964,593,699
6,1991,CHI,990-1837,53.9,29-93,31.2,571-671,85.1,118,374,...,202,2580,Michael Jordan*,SG,29,93,990,1837,571,671
7,1992,CHI,943-1818,51.9,27-100,27.0,491-590,83.2,91,420,...,200,2404,Michael Jordan*,SG,27,100,943,1818,491,590

In [23]:
scrapped_regular_jordan['twopts']=scrapped_regular_jordan['fieldpts']-scrapped_regular_jordan['threepts']
scrapped_regular_jordan['twoAttempts']=scrapped_regular_jordan['fieldGoals']-scrapped_regular_jordan['threeAttempts']

In [24]:
scrapped_regular_jordan.drop(["fieldGoalsattempts&points","threeattempts&pts","ftAttempts&points","OR","DR"],axis=1,inplace=True)

In [25]:
dfregular.drop(['fieldAttempts', 'threeFg', 'twoFg', 'ft', 'playerId',"twoPercent"],axis=1,inplace=True)

In [26]:
scrapped_regular_jordan.columns

Index(['season', 'team', 'fieldPercent', 'threePercent', 'ftPercent',
       'totalRb', 'assists', 'blocks', 'steals', 'personalFouls', 'turnovers',
       'points', 'playerName', 'position', 'threepts', 'threeAttempts',
       'fieldpts', 'fieldGoals', 'ftpts', 'ftAttempts', 'twopts',
       'twoAttempts'],
      dtype='object')

In [27]:
scrapped_regular_jordan["season"]=scrapped_regular_jordan["season"].astype(int)

In [28]:
#Jordan's age is missing in ESPN's data, we know Jordan was born in 1964, so I calculated it:
def Age(i):
    
    return i -1964


scrapped_regular_jordan["age"]=scrapped_regular_jordan["season"].apply(Age)

In [29]:
#Games per season is missing, I found them in another website, let's add this:
games=pd.read_csv(r"C:\Users\Abraham\Desktop\Solo\Bootcamp\portfolio\APIs\API_sports\datamichaeljordan8592.csv",sep=";")

scrapped_regular_jordan=scrapped_regular_jordan.merge(games,on="season",how="left")

In [30]:
dfregulartotals = pd.concat([dfregular, scrapped_regular_jordan], ignore_index=True)
dfregulartotals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   playerName     57 non-null     object
 1   position       57 non-null     object
 2   age            57 non-null     int64
 3   games          57 non-null     int64
 4   fieldGoals     57 non-null     int64
 5   fieldPercent   57 non-null     float64
 6   threeAttempts  57 non-null     int64
 7   threePercent   57 non-null     float64
 8   twoAttempts    57 non-null     int64
 9   ftAttempts     57 non-null     int64
 10  ftPercent      57 non-null     float64
 11  totalRb        57 non-null     int64
 12  assists        57 non-null     int64
 13  steals         57 non-null     int64
 14  blocks         57 non-null     int64
 15  turnovers      57 non-null     int64
 16  personalFouls  57 non-null     int64
 17  points         57 non-null     int64
 18  team           57 non-null     object
 19  season         57 non-null     int64
 20  fieldpts       57 non-null     float64
 21  threepts       57 non-null     float64
 22  twopts         57 non-null     float64
 23  ftpts          57 non-null     float64
dtypes: float64(7), int64(14), object(3)
memory usage: 10.8+ KB

In [31]:
dfregulartotals["playerName"] = dfregulartotals["playerName"].replace("Kobe Bryant*", "Kobe Bryant")
dfregulartotals["playerName"]= dfregulartotals["playerName"].replace("Michael Jordan*","Michael Jordan")

In [32]:
#Data is complete and ready to use
dfregulartotals.to_csv("Nba regular season data")

### Per game stats

In [33]:
dfregular_pergame= dfregulartotals.copy()

In [37]:
dfregular_pergame.columns

Index(['playerName', 'position', 'age', 'games', 'fieldGoals', 'fieldPercent',
       'threeAttempts', 'threePercent', 'twoAttempts', 'ftAttempts',
       'ftPercent', 'totalRb', 'assists', 'steals', 'blocks', 'turnovers',
       'personalFouls', 'points', 'team', 'season', 'fieldpts', 'threepts',
       'twopts', 'ftpts', 'pts per game'],
      dtype='object')

In [38]:
dfregular_pergame["pts per game"]=dfregular_pergame['points']/fregular_pergame['games']
dfregular_pergame["totalRb per game"]=dfregular_pergame["totalRb"].div(dfregular_pergame['games'].replace(0, 1), axis=0)
dfregular_pergame["assists per game"]=dfregular_pergame["assists"].div(dfregular_pergame['games'].replace(0, 1), axis=0)
dfregular_pergame["steals per game"]=dfregular_pergame["steals"].div(dfregular_pergame['games'].replace(0, 1), axis=0)
dfregular_pergame["blocks per game"]=dfregular_pergame["blocks"].div(dfregular_pergame['games'].replace(0, 1), axis=0)

In [39]:
dfregular_pergame.to_csv("nba regular per game",sep=";",decimal=",",index=False)